body {
    display:flex;
    align-items: center;
}
div {
    width:40px;
    height:40px;
    background-color:red;
    border-radius:50px;
    position:relative;
    animation-name:demo;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes demo {
    0% {left:0px;}
    50% {left: calc(100% - 40px);}
    100% {left:0px;}
}
