body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.row {
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
}
.row:nth-child(1) .children:nth-child(1) {
  animation-delay: 0.03s;
}
.row:nth-child(1) .children:nth-child(2) {
  animation-delay: 0.06s;
}
.row:nth-child(1) .children:nth-child(3) {
  animation-delay: 0.09s;
}
.row:nth-child(1) .children:nth-child(4) {
  animation-delay: 0.12s;
}
.row:nth-child(1) .children:nth-child(5) {
  animation-delay: 0.15s;
}
.row:nth-child(1) .children:nth-child(6) {
  animation-delay: 0.18s;
}
.row:nth-child(1) .children:nth-child(7) {
  animation-delay: 0.21s;
}
.row:nth-child(1) .children:nth-child(8) {
  animation-delay: 0.24s;
}
.row:nth-child(1) .children:nth-child(9) {
  animation-delay: 0.27s;
}
.row:nth-child(1) .children:nth-child(10) {
  animation-delay: 0.3s;
}
.row:nth-child(2) .children:nth-child(1) {
  animation-delay: 0.06s;
}
.row:nth-child(2) .children:nth-child(2) {
  animation-delay: 0.12s;
}
.row:nth-child(2) .children:nth-child(3) {
  animation-delay: 0.18s;
}
.row:nth-child(2) .children:nth-child(4) {
  animation-delay: 0.24s;
}
.row:nth-child(2) .children:nth-child(5) {
  animation-delay: 0.3s;
}
.row:nth-child(2) .children:nth-child(6) {
  animation-delay: 0.36s;
}
.row:nth-child(2) .children:nth-child(7) {
  animation-delay: 0.42s;
}
.row:nth-child(2) .children:nth-child(8) {
  animation-delay: 0.48s;
}
.row:nth-child(2) .children:nth-child(9) {
  animation-delay: 0.54s;
}
.row:nth-child(2) .children:nth-child(10) {
  animation-delay: 0.6s;
}
.row:nth-child(3) .children:nth-child(1) {
  animation-delay: 0.09s;
}
.row:nth-child(3) .children:nth-child(2) {
  animation-delay: 0.18s;
}
.row:nth-child(3) .children:nth-child(3) {
  animation-delay: 0.27s;
}
.row:nth-child(3) .children:nth-child(4) {
  animation-delay: 0.36s;
}
.row:nth-child(3) .children:nth-child(5) {
  animation-delay: 0.45s;
}
.row:nth-child(3) .children:nth-child(6) {
  animation-delay: 0.54s;
}
.row:nth-child(3) .children:nth-child(7) {
  animation-delay: 0.63s;
}
.row:nth-child(3) .children:nth-child(8) {
  animation-delay: 0.72s;
}
.row:nth-child(3) .children:nth-child(9) {
  animation-delay: 0.81s;
}
.row:nth-child(3) .children:nth-child(10) {
  animation-delay: 0.9s;
}
.row:nth-child(4) .children:nth-child(1) {
  animation-delay: 0.12s;
}
.row:nth-child(4) .children:nth-child(2) {
  animation-delay: 0.24s;
}
.row:nth-child(4) .children:nth-child(3) {
  animation-delay: 0.36s;
}
.row:nth-child(4) .children:nth-child(4) {
  animation-delay: 0.48s;
}
.row:nth-child(4) .children:nth-child(5) {
  animation-delay: 0.6s;
}
.row:nth-child(4) .children:nth-child(6) {
  animation-delay: 0.72s;
}
.row:nth-child(4) .children:nth-child(7) {
  animation-delay: 0.84s;
}
.row:nth-child(4) .children:nth-child(8) {
  animation-delay: 0.96s;
}
.row:nth-child(4) .children:nth-child(9) {
  animation-delay: 1.08s;
}
.row:nth-child(4) .children:nth-child(10) {
  animation-delay: 1.2s;
}
.row:nth-child(5) .children:nth-child(1) {
  animation-delay: 0.15s;
}
.row:nth-child(5) .children:nth-child(2) {
  animation-delay: 0.3s;
}
.row:nth-child(5) .children:nth-child(3) {
  animation-delay: 0.45s;
}
.row:nth-child(5) .children:nth-child(4) {
  animation-delay: 0.6s;
}
.row:nth-child(5) .children:nth-child(5) {
  animation-delay: 0.75s;
}
.row:nth-child(5) .children:nth-child(6) {
  animation-delay: 0.9s;
}
.row:nth-child(5) .children:nth-child(7) {
  animation-delay: 1.05s;
}
.row:nth-child(5) .children:nth-child(8) {
  animation-delay: 1.2s;
}
.row:nth-child(5) .children:nth-child(9) {
  animation-delay: 1.35s;
}
.row:nth-child(5) .children:nth-child(10) {
  animation-delay: 1.5s;
}
.row:nth-child(6) .children:nth-child(1) {
  animation-delay: 0.18s;
}
.row:nth-child(6) .children:nth-child(2) {
  animation-delay: 0.36s;
}
.row:nth-child(6) .children:nth-child(3) {
  animation-delay: 0.54s;
}
.row:nth-child(6) .children:nth-child(4) {
  animation-delay: 0.72s;
}
.row:nth-child(6) .children:nth-child(5) {
  animation-delay: 0.9s;
}
.row:nth-child(6) .children:nth-child(6) {
  animation-delay: 1.08s;
}
.row:nth-child(6) .children:nth-child(7) {
  animation-delay: 1.26s;
}
.row:nth-child(6) .children:nth-child(8) {
  animation-delay: 1.44s;
}
.row:nth-child(6) .children:nth-child(9) {
  animation-delay: 1.62s;
}
.row:nth-child(6) .children:nth-child(10) {
  animation-delay: 1.8s;
}
.row:nth-child(7) .children:nth-child(1) {
  animation-delay: 0.21s;
}
.row:nth-child(7) .children:nth-child(2) {
  animation-delay: 0.42s;
}
.row:nth-child(7) .children:nth-child(3) {
  animation-delay: 0.63s;
}
.row:nth-child(7) .children:nth-child(4) {
  animation-delay: 0.84s;
}
.row:nth-child(7) .children:nth-child(5) {
  animation-delay: 1.05s;
}
.row:nth-child(7) .children:nth-child(6) {
  animation-delay: 1.26s;
}
.row:nth-child(7) .children:nth-child(7) {
  animation-delay: 1.47s;
}
.row:nth-child(7) .children:nth-child(8) {
  animation-delay: 1.68s;
}
.row:nth-child(7) .children:nth-child(9) {
  animation-delay: 1.89s;
}
.row:nth-child(7) .children:nth-child(10) {
  animation-delay: 2.1s;
}
.row .children {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  margin: 10px;
  background-color: #1aa094;
  animation-name: sequential;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes sequential {
  0% {
    background: #1aa094;
    transform: scale(1);
  }
  30% {
    background: #444;
    transform: scale(1.1);
  }
  70% {
    background: #1aa094;
    transform: scale(1);
  }
}

/*# sourceMappingURL=sequential_anim.css.map */
