$primary :  #1aa094;
$secondary : #444;
body
{
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
}
@mixin animation-delay {
  @for $i from 1 through 7 {
    &:nth-child(#{$i}) {
      @for $n from 1 through 10 {
        .children:nth-child(#{$n}) {
          animation-delay: #{$i * $n * 0.03}s;
        }
      }
    }
  }
}

.row
{
  display:flex;
  max-width:600px;
  flex-wrap:wrap;
  @include animation-delay;
  .children {
    height:40px;
    width:40px;
    border-radius:50px;
    margin:10px;
    background-color:$primary;
    animation-name:sequential;
    animation-duration:2s;
    animation-iteration-count:infinite;
    animation-timing-function:ease-in-out;
  }
}
@keyframes sequential {
   0% {
   background: $primary;
     transform: scale(1);
  }
  
  30% {
    background: $secondary;
    transform: scale(1.1);
  }
  
  70% {
    background: $primary;
    transform: scale(1);
  }
}
